<h1>
  Add a new png
</h1>


<hr>

<form action="/create_png" method="post">

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <input type="text" id="photo_id" name="photo_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create png
  </button>
</form>

<hr>

<a href="/pngs">
  Go back
</a>
