<% if @jpg.errors.any? %>
  <% @jpg.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit jpg #<%= @jpg.id %>
</h1>

<hr>

<form action="/update_jpg/<%= @jpg.id %>" method="post">

  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :comment_id, @jpg.photo_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update jpg
  </button>
</form>

<hr>

<a href="/jpgs">
  Go back
</a>
