<form action="/create_jpg_from_photo" method="post">

  <input type="hidden" name="photo_id" value="<%= @photo.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create jpg
  </button>
</form>
