<h1>
  Edit photo #<%= @photo.id %>
</h1>

<hr>

<form action="/update_photo/<%= @photo.id %>" method="post">

  <div class="form-group">
    <label for="comment_id">
      Comment
    </label>

    <%= select_tag(:comment_id, options_from_collection_for_select(Comment.all, :id, :article_id, @photo.comment_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="public_visibility">
    <input id="public_visibility" class="form-check-input" name="public_visibility" type="checkbox" value="1" <%= "checked" if @photo.public_visibility %>>
    <label for="public_visibility" class="form-check-label">
      Public visibility
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
